<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page | Glow Beauty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

     <header>
           <h1>About Glow Beauty</h1>
     </header>

     <main>
          <h3 class="question">Who we are ?</h3>
          <p>🌟Glow Beauty is a skincare brand dedicated to providing natural and effective products that care for your skin.</p>
          <p>🌟We believe that beauty should be simple, safe, and accessible to everyone.</p>

          <h3 class="question">What is our  misssion ?</h3>
          <p>🌟Our mission is to help you achieve healthy, glowing skin using high-quality ingredients inspired by nature.</p>
          <p>🌟Every product is carefully designed to nourish and protect your skin without harsh chemicals.</p>

          <h3 class="question">What makes us special?</h3>
          <p>🌟At Glow Beauty, we focus on quality, transparency, and customer satisfaction.</p>
          <p>🌟We are committed to offering products you can trust and results you can see.</p>

          <h3 class="question">Why choosing us?</h3>
          <p>🌟100% Natural Ingredients</p>
          <p>🌟Dermatologically Friendly</p>
          <p>🌟Trusted by Customers</p>
          <p>🌟Fast & Reliable Delivery</p>

     </main>

     <footer>
         <h5>Join Glow Beauty and start your journey toward healthier, more radiant skin.</h5>
     </footer>


</body>
</html>