<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Glow Beauty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
      <header class="title">Contact Us</header>

      <main>
          <h4>We’d love to hear from you! Whether you have questions, feedback, or need help choosing the right product, feel free to reach out.</h4>


          <form>
              <input type="text" placeholder="Your Name" required><br><br>
              <input type="email" placeholder="Your Email" required><br><br>
              <textarea placeholder="Your Message" rows="5" required></textarea><br><br>
              <button type="submit">Send Message</button>
          </form>
      </main>

          <h4>Follow us on social media for updates and skincare tips.</h4>
          <footer>
          <p>🌟Email: glowbeauty@email.com</p>
          <p>🌟Phone: +44 123 456 789</p>
          <p>🌟Location: London, UK</p>
          </footer>
          <p class="text">Your glow is our priority ✨</p>
      

      

</body>
</html>