<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page | Glow Beauty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
      <header>
           <h1 class="title">Glow with Us</h1>
      </header>

      <main>
           <img src="{{ url_for('static' , filename ='images/Vitamin illuminating.webp')}}" alt="Vitamin illuminating" class="products">

           <div class="text">
                <p>Vitamin illuminating</p>
                <details>
                    <summary>Vitamin Illuminating Serum is a skincare product designed to brighten the complexion, hydrate the skin, and give a radiant glow.</summary>
                    <p>🌟It’s formulated with antioxidants, rich sources of vitamin C (from acerola), niacinamide, hyaluronic acid, and other nourishing ingredients that help even out skin tone, reduce the look of dullness and dark spots, and improve overall texture. The lightweight formulation absorbs easily and is suitable for most skin types.</p>
                </details>
                <p class="price">price: £30 (30 ml) </p>
           </div>

           <img src="{{ url_for('static' , filename ='images/Vitamin C10.webp')}}" alt="Vitamin C10" class="products">

           <div class="text">
                <p>Vitamin C10</p>
                <details>
                    <summary>Vitamin C10 Serum – A potent brightening serum enriched with 10% pure vitamin C,antioxidants, and hyaluronic acid.</summary>
                    <p>🌟 It helps reduce dark spots, even out skin tone, boost radiance, and deeply hydrate for healthy, glowing skin. Suitable for daily use.</p>
                </details>
                <p class="price">price: £28 (30 ml) </p>
            </div>

           <img src="{{ url_for('static' , filename ='images/Vitamin C antiaging.webp')}}" alt="Vitamin C antiaging" class="products">

           <div class="text">
                <p>Vitamin C antiaging</p>
                <details>
                    <summary>Vitamin C Anti-Aging Serum – A powerful skincare formula enriched with vitamin C and antioxidants to help reduce fine lines, wrinkles, and signs of aging.</summary>
                    <p>🌟. It works to stimulate collagen production, improving skin firmness and elasticity while restoring a youthful glow. This serum also helps to brighten dull skin, even out skin tone, and protect against environmental damage caused by pollution and free radicals. Its lightweight texture absorbs quickly, leaving the skin feeling smooth, refreshed, and deeply hydrated. Suitable for all skin types and ideal for daily use.</p>
                </details>
                <p class="price">price: £35 (30 ml) </p>
            </div>

           <img src="{{ url_for('static' , filename ='images/Hyaluronic acid.webp')}}" alt="Hyaluronic acid" class="products">

           <div class="text">
                <p>Hyaluronic acid</p>
                <details>
                    <summary>Hyaluronic Acid Serum – A deeply hydrating formula designed to lock in moisture and keep the skin soft, smooth, and plump.</summary>
                    <p>🌟Enriched with hyaluronic acid, it helps attract and retain water in the skin, reducing dryness and improving elasticity. This serum also works to minimize the appearance of fine lines, giving the skin a fresher, more youthful look. Its lightweight, fast-absorbing texture makes it perfect for daily use and suitable for all skin types, especially dry and dehydrated skin.</p>
                </details>
                <p class="price">price: £25 (30 ml) </p>
            </div>

           <img src="{{ url_for('static' , filename ='images/foaming cleanser.webp')}}" alt="foaming cleanser" class="products">

           <div class="text">
                <p>foaming cleanser</p>
                <details>
                    <summary>Foaming Cleanser – A gentle yet effective cleanser that transforms into a soft foam to remove dirt, oil, and makeup impurities without stripping the skin.</summary>
                    <p>🌟Formulated to deeply cleanse pores while maintaining the skin’s natural moisture balance, it leaves the skin feeling fresh, clean, and smooth. Ideal for daily use, it helps control excess oil and prevents breakouts while keeping the skin soft and refreshed. Suitable for all skin types, especially normal to oily skin.</p>
                </details>
                <p class="price">price: £20 (200 ml) </p>
            </div>

           <img src="{{ url_for('static' , filename ='images/cleanance cleansing gel.webp')}}" alt="cleanance cleansing gel" class="products">

           <div class"text">
                <p>cleanance cleansing gel</p>
                <details>
                    <summary>Cleanance Cleansing Gel – A purifying, soap-free gel cleanser specially formulated for oily and acne-prone skin. It gently removes impurities, excess oil, and makeup while helping to reduce shine and prevent breakouts.</summary>
                    <p>Enriched with soothing thermal spring water, it helps calm irritation and maintain the skin’s natural balance without drying it out. The lightweight gel texture transforms into a refreshing foam, leaving the skin feeling clean, clear, and comfortable. Suitable for daily use on face and body.</p>
                </details>
                <p class="price">price: £18 (200 ml) </p>
            </div>
      </main>

      <footer>
         <p>“Natural care, real results, beautiful skin.”</p>
      </footer>

</body>
</html>